extends layouts/frontend

block title
    title TP Node S2 - Dashboard

block content
    .ui.middle.aligned.center.aligned.grid
        .six.wide.column
            h2 Bienvenue sur votre dashboard !