extends layouts/frontend

block title
    title TP Node S2 - Login

block content
    .ui.middle.aligned.center.aligned.grid
        .six.wide.column
            h2 Connectez-vous
            form.ui.large.form(method="post", action="/login")
                .ui.stacked.segment
                    +field('email', 'email', 'votre.email@mail.com', true)
                    +field('password', 'password', 'Mot de passe', true)
                    button(type="submit").ui.fluid.large.teal.submit.button Me connecter

                .ui.error.message


mixin field(type, name, placeholder, required = true)
    .field
        .ui.left.icon.input
            i.icon(class=(type === 'password' ? 'lock' : 'user'))
            input(type=type, name=name, placeholder=placeholder required=required)